/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

#field_15_21 .ginput_container,
#field_15_21 .ginput_container select {
  margin-top: 0px !important;
}

.display_none {
  display: none;
}

@-moz-document url-prefix() {
  .gform_wrapper li.hidden_label input {
    margin-top: -2px !important;
  }
}

.privacyPhone .storename {
  display: inline-block !important;
}

.plp-view-product {
  text-decoration: none !important;
}

footer .ipad50 {
  width: 50% !important;
  max-width: 100%;
  padding-left: 50px !important;
}

.footer-row .fl-col-group:nth-child(2) {
  display: flex;
}

.social-icons li {
  margin-bottom: 0px !important;
}

.max200 {
  max-width: 200px !important;
  width: 100% !important;
  text-align: center;
}

.col-3-sec .uabb-team-image img {
  min-height: 300px;
  max-height: 300px;
}

.loca .map,
.loca .map .fl-module-content,
.loca .map .fl-module-content .fl-map,
.loca .map .fl-module-content .fl-map iframe,
.location .map,
.location .map .fl-module-content,
.location .map .fl-module-content .fl-map,
.location .map .fl-module-content .fl-map iframe {
  height: 100% !important;
}

.brandSliderT .slick-track {
  display: flex;
  align-items: center;
}

.slick-track .uabb-image-carousel-item a {
  border: none !important;
  outline: none !important;
}
.brand-slier-wrap .uabb-image-carousel .slick-track {
  display: flex;
  align-items: center;
}

.loca .store-opening-hrs li span,
.location .store-opening-hrs li span {
  color: #fff !important;
}

.brandSlider .slick-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brandSlider .slick-track {
  display: flex;
  align-items: center;
}

body p,
body span,
body li {
}

.facet-wrap strong {
  color: #000 !important;
}

.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #000 !important;
}

.page-id-900399
  .uabb-module-content.uabb-ib2-outter.uabb-new-ib.uabb-ib-effect-style14 {
  max-height: 351px;
}

.page-id-900399 .uabb-new-ib-content.uabb-text-editor.uabb-simplify {
  min-height: 141px;
}

#menu-footer-flooring li:hover ul.sub-menu li a {
  background: transparent !important;
}

#menu-footer-flooring li:hover ul.sub-menu li a span {
  color: #fff !important;
}

.fl-slide-1 .fl-slide-photo-wrap {
  width: auto !important;
}

.getcoupon-btn:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.uabb-creative-menu
  .menu.uabb-creative-menu-horizontal
  > li
  > .uabb-has-submenu-container
  a
  span.uabb-menu-toggle {
  padding-left: 4px !important;
}

.gform_wrapper.gf_browser_safari .gfield_checkbox li input,
.gform_wrapper.gf_browser_safari .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_safari .gfield_radio li input[type="radio"] {
  margin-top: -3px !important;
}

.f-0 h1 {
  font-size: 0px !important;
}

.fl-post-title,
.fl-archive-title,
.category-blog .fl-post-title a {
  color: #2596be !important;
}

.category-blog .fl-post-title a {
  font-size: 24px;
  line-height: 1.2em!important;
  letter-spacing: 1px;
}

.uabb-gf-style
  .gform_wrapper
  form
  .gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  padding: 15px 10px !important;
}

body p,
body span,
.uabb-creative-menu a {
  line-height: 1.5 !important;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
}

.searchIcon .fl-icon .ua-icon-search {
  cursor: pointer;
}

.fl-module-uabb-advanced-menu .uabb-creative-menu .menu > li > a {
}

#responsive-menu-search-box {
  padding: 5px 5% !important;
}

.uabb-image-carousel .slick-arrow {
  background-color: transparent !important;
}

.uabb-image-carousel .slick-arrow > i {
  background-color: #f4f4f4 !important;
}

.uabb-image-carousel .slick-arrow > i:before {
  color: #000 !important;
}

#responsive-menu-additional-content {
  padding: 5px 5% !important;
}

#responsive-menu-container
  #responsive-menu-additional-content
  .phone
  a
  span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}

#responsive-menu-container #responsive-menu-additional-content .phone a span {
  color: #fff !important;
}

.video_slider .slider-content .panel-wrapper .slider-content-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

#main-slider_4 .image-block_4,
#main-slider_4.image-block_4 a,
#main-slider_4 .image-block_4 a img {
  width: 100% !important;
}

#main-slider_4 {
  height: auto !important;
}

#main-slider_4 .slider-content-wrapper .right-block .title {
  font-size: 30px !important;
  line-height: 1.6em !important;
  color: #cc252a;
  text-transform: capitalize;
}

.ls-nav-right-arrow,
.ls-nav-left-arrow {
  top: 40% !important;
}

.ui-datepicker-title select {
  color: #000 !important;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
  display: block !important;
  text-align: center !important;
}

.fl-page-nav-right.fl-page-header-fixed .fl-logo-img,
.fl-page-header-fixed .fl-logo-img {
  max-height: 65px !important;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
  border-radius: 0px;
  /* padding: 7px 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-decoration: none; */
}

.gform_wrapper .gfield_required {
  color: #790000 !important;
}

.fl-post-grid-gallery {
  width: 300px;
  height: 300px;
  background-position: center !important;
  cursor: pointer;
}

.storename {
  padding: 0px;
  list-style: none;
}

.fl-node-5cbdc4497c6a0 .storename span {
  color: #fff !important;
}

.storename p,
.storename span {
  margin: 0px !important;
  color: #000 !important;
}

ul.store-opening-hrs {
  list-style: none;
  padding: 0px;
}

.slide.slick-slide {
  text-align: center;
}

.footer-col .storename p,
.footer-col .storename span {
  margin: 0px !important;
  color: #fff !important;
}

.fl-node-5cd3edbf6b3ff .direction a {
  width: 100%;
  text-align: center;
}

.fl-node-5cd3edbf6b3ff .direction a span {
  color: #fff !important;
}

.fl-node-5cd3edbf6b3ff .direction a:hover span {
  color: #1161a0 !important;
}

.active-gallery-modal .product-box a.fl-button {
  background: #000;
  border: 1px solid #000;
}

.fl-node-5cd3f63eca9d5
  .uabb-gf-style
  .gform_wrapper
  .gform_footer
  input[type="submit"]:hover,
.fl-node-5cd3f63eca9d5
  .uabb-gf-style
  .gform_page
  .gform_page_footer
  input[type="button"]:hover,
.fl-node-5cd3f63eca9d5
  .uabb-gf-style
  .gform_page
  .gform_page_footer
  input[type="submit"]:hover {
  color: #fff !important;
}

.active-gallery-modal .product-box a.fl-button:hover {
  background: #cc252a;
  border: 1px solid #981c1f;
}

.store-opening-hrs li {
  padding: 2px 10px;
}

#gform_submit_button_3 {
  border-radius: 0px;
}

/*------------------TOP BAR STYLES ------------------*/

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul#topbar li a:hover {
  color: #111111;
}

.gform_wrapper .ginput_container_time input,
.gform_wrapper .ginput_container_time select {
  padding: 5px !important;
}

.ginput_container_time select {
  min-width: 60px !important;
  width: 60px !important;
}

.ginput_container_checkbox ul li a {
  color: #000 !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

.storename .phone a {
  color: #000 !important;
}

header .fl-icon-wrap:hover .storename .phone a span,
header .fl-icon-wrap:hover i.fi-telephone:before {
  color: #2596be !important;
}

.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0px;
  top: 249px;
  padding: 5px 0;
  max-width: 600px;
  width: 100%;
}

/* .storename .phone a span:before {
    margin-right: 10px !important;
}

.storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
} */

ul.storename .direction a {
  display: block !important;
  color: #fff;
}

ul.storename .direction a span {
  color: #fff !important;
}

ul.storename .direction a:hover span {
  color: #fff !important;
}

a.requestlink:hover {
  color: #2596be !important;
}

.gform_legacy_markup_wrapper .math_medium input {
  width: 100% !important;
}

footer p a:hover,
.footer-hover p:hover a,
.footer-hover .phone a:hover span,
.storename .address > a:hover p,
.storename .phone a:hover span {
  color: #2596be !important;
}

.gform_legacy_markup_wrapper select {
  border: 1px solid #e6e6e6;
  padding: 5px 4px !important;
}

.gform_legacy_markup_wrapper select:focus-visible {
  outline: none;
}

.gform_legacy_markup_wrapper select option {
  color: #000000 !important;
}

/* .fl-module-advanced-tabs .ua-icon{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "FontAwesome";
 }
 .fl-module-advanced-tabs .ua-icon-chevron-down2:before{
    content: "\f078";
 } */

/*------------------END TOP BAR STYLES ------------------*/

.Loca-Info .store-opening-hrs > li {
  padding-left: 0px !important;
}

.Loca-Info .uabb-infobox-text > p:first-child {
  padding: 0px !important;
}

.product-colors ul li.found {
  margin-right: 5px;
}

.product-grid.btn-grey .product-variations1 > h5,
.product-grid.btn-grey > h4 > span,
.product-grid .fl-button-text,
.product-detail-layout-6 .product-variations .color-boxs-inners small,
.floorte-color,
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button,
.fl-photo-caption {
  font-size: 14px !important;
}

.gform_heading p.gform_required_legend {
  display: none;
}

.gfield_captcha_input_container.math_medium input {
  width: auto;
}

div#TopBar p {
  margin: 0;
}

div#TopBar a.phone.retailer span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #2596be;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

/* PDP page image issue css start here  */
/* .container .row .product-detail-layout-6 #product-images-holder > div {
  background-image: none !important;
}
.container
  .row
  .product-detail-layout-6
  #product-images-holder
  > div.toggle-image {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .product-detail-layout-6 #product-images-holder > div.show {
  background-image: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .product-detail-layout-6 #product-images-holder > div img {
  display: block;
  min-height: auto;
  width: auto !important;
  margin: 0 auto;
}
 */
.product-detail-layout-6 .slide.selected-slide:after {
  display: none !important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
  content: "" !important;
  background-image: url(/wp-content/plugins/grand-child/product-listing-templates/images/PDP_check_icon.png) !important;
  height: 38px !important;
  width: 38px !important;
  background-repeat: no-repeat !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.product-detail-layout-6 .slide.selected-slide a {
  display: block;
  position: relative;
}
/* PDP page image issue css end here  */

/* .product-grid .product-row .fl-post-grid-post .fl-post-grid-image > a > img {
  max-height: 230px !important;
  object-fit: contain;
}
.product-color-variationPlp .slides > .slide img {
  object-fit: contain;
}
.container .row .product-detail-layout-6 .product-variations img {
  object-fit: contain;
}
 */

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #2596be;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #2596be !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #2596be !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #2596be !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #2596be !important;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #2596be!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #000!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #2596be !important;
    color: #2596be !important;
}
@media (max-width: 1080px) {
  .gform_wrapper #field_17_2,
  .gform_wrapper #field_17_7 {
    padding-right: 0px !important;
  }
  /*     .gform_wrapper li input {
        width: 100%!important;
        display: block;
    } */
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 4px;
    font-size: 13px;
  }
  .fl-page-nav-right .fl-page-header-row .fl-page-nav-col {
    padding-left: 0px;
  }
}

@media (max-width: 1025px) {
  .ipadHide {
    display: none !important;
  }
  button#responsive-menu-button {
    top: 40px !important;
  }
  .ipadFont h3 {
    font-size: 20px !important;
  }
}

@media (max-width: 992px) {
  button.rmp_menu_trigger {
    top: 66px !important;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
}

/* @media(max-width:1024px){
	.post-900401  .uabb-infobox-title{
		font-size: 14px !important;
	}
} */

.ua-icon-icon-111-search2 {
  cursor: pointer;
}

.product-detail-layout-6 .product-box h2 {
  line-height: 1.3em;
}

@media (max-width: 992px) {
  .brand-slier-wrap
    .slick-track
    .uabb-image-carousel-item
    .uabb-image-carousel-content {
    min-height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .FloorteProductSlider .featured-products .arrow.slick-prev.slick-arrow {
    left: -10px !important;
  }
  .max-width-issue img {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .uabb-photo-gallery.uabb-gallery-grid4 {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  .uabb-photo-gallery .uabb-photo-gallery-content .uabb-gallery-img,
  .uabb-masonary-content .uabb-photo-gallery-content .uabb-gallery-img {
    margin: 20px 0;
  }
  .uabb-photo-gallery-item {
    width: 100% !important;
  }
  .FloorteProductSlider .featured-products .slick-arrow {
    right: -10px !important;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .fl-module-content
    .uabb-infobox-content
    > .uabb-infobox-title-wrap
    > h3 {
    font-size: 30px !important;
    line-height: 1.4em !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .fl-module-content
    .uabb-infobox-content
    > .uabb-infobox-title-wrap
    > h1 {
    font-size: 22px !important;
  }
  /* .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    #product-list-top-filters .fl-col-group .fl-col{
        width: auto!important;
    } */
  /* 	.post-900401 .uabb-image-carousel img{
		max-height: 500px;
	} */
  .uabb-ib2-hover {
    min-height: 320px !important;
  }
  .max-width-issue img {
    max-width: 400px !important;
    margin: 0 auto !important;
    width: 100% !important;
  }
  .max-width-issue.max-280 img {
    max-width: 280px !important;
  }
  header .uabb-photo-content .uabb-photo-img {
    width: 240px;
  }
  .facet-inner .facetwp-checkbox {
    background-position: 0px 3px;
  }
  .fl-page-bar .text-left {
    width: 35%;
  }
  .fl-page-bar .text-right {
    width: 65%;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 10px;
  }
  .fl-page-nav-search {
    display: block;
  }
  .max400 img {
    max-width: 400px !important;
    width: 100%;
    display: block;
    margin: 0 auto !important;
  }
  .MobListNone ul {
    list-style: none !important;
    padding: 0px !important;
  }
  button.rmp_menu_trigger {
    top: 105px !important;
  }
}

@media (max-width: 767px) {
  .fl-page-nav-search {
    display: none;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  .fl-page-bar .text-left {
    width: 100%;
  }
  .fl-page-bar .text-right {
    display: none;
  }
  #responsive-menu-additional-content a span {
    color: #fff;
  }
  .fl-content-slider-navigation a.disabled,
  .bx-controls a.disabled {
    color: #000 !important;
    fill: #000 !important;
  }
}

@media (max-width: 667px) {
  .search-row .product-row {
    padding: 20px !important;
  }
  footer .ipad50 {
    padding-left: 0px !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  .footer-row .fl-col-group:nth-child(2) {
    flex-direction: column !important;
  }
  h1.fl-heading {
    font-size: 30px !important;
  }
}

@media (max-width: 450px) {
  .footermenu .menu-item a {
    font-size: 14px;
  }
  .post-973329
    .fl-module-uabb-image-carousel
    div.uabb-image-carousel
    .slick-prev,
  .post-973329
    .fl-module-uabb-image-carousel
    [dir="rtl"]
    div.uabb-image-carousel
    .slick-next {
    left: 400px !important;
  }
  .post-973329
    .fl-module-uabb-image-carousel
    div.uabb-image-carousel
    .slick-next,
  .post-973329
    .fl-module-uabb-image-carousel
    [dir="rtl"]
    div.uabb-image-carousel
    .slick-prev {
    right: 400px !important;
  }
  button.rmp_menu_trigger {
    top: 110px !important;
  }
}

@media (max-width: 320px) {
  header .uabb-photo-content .uabb-photo-img {
    width: 200px;
  }
}

@media print {
  @page {
    size: "A4";
    margin: 0mm;
    text-align: center;
  }
  header,
  footer,
  .fl-page-bar,
  #button-print,
  .fl-module-rich-text {
    display: none !important;
  }
}

article.fl-post .fl-post-content-beside {
  width: 100% !important;
}

article.fl-post .fl-post-image-beside {
  float: none !important;
  clear: right !important;
}

/* a.link.getcouponbtnlink,
.single a.button.alt.getcoupon-btn {
    display: none !important;
} */

a.button.alt.custompdpbtn.getcoupon-btn {
  display: block !important;
  line-height: 36px;
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .brand-slier-wrap
    .slick-track
    .uabb-image-carousel-item
    .uabb-image-carousel-content {
    min-height: 65px;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}
.pdpGalleryImagePopup .closePopup>span {
    line-height: 1.7em!important;
}
a.linkcustompdpbtnlink.d-block {
    margin-top: 10px;
}
.product-plp-grid>.product-row>.col-lg-4>.fl-post-grid-post .product-grid.btn-grey>h4>span:nth-child(2) {
    font-size: 12px !important;
}
/* PLP Page Css iPad Air */
/*  .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #000  !important;
    color: #000  !important;
} */